@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  padding-left: 10px;
}

.card {
  width: 20rem;
}

ul {
  list-style-type: circle;
}

li {
  margin-left: 20px;
}